
 


<form [formGroup]="formGroup">
    <table border="1px solid;" style="margin:auto" class="ui-panelgrid ui-widget">
        <thead class="ui-panelgrid-header">
            <tr class="ui-widget-header">
                <th colspan="4">User Form</th>
            </tr>
        </thead>
        <tbody>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="id">Id</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="id" id="id" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="id">Id</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="id" id="id" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="name">Name</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="name" id="name" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="lastname">Lastname</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="lastname" id="lastname" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="username">Username</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="username" id="username" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="password">Password</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="password" id="password" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="email">Email</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="email" id="email" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="dob">Dob</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input  type="date"  formControlName="dob" id="dob" mdbInput />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="photoprofile">Photoprofile</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="photoprofile" id="photoprofile" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="headline">Headline</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="headline" id="headline" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="currentPosition">Current_position</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="currentPosition" id="currentPosition" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="education">Education</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="education" id="education" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="location">Location</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="location" id="location" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="contactInfo">Contact_info</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="contactInfo" id="contactInfo" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="experience">Experience</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="experience" id="experience" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="points">Points</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="points" id="points" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="culturalPoints">Cultural_points</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="culturalPoints" id="culturalPoints" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="sportPoints">Sport_points</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="sportPoints" id="sportPoints" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="artPoints">Art_points</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="artPoints" id="artPoints" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="professionelPoints">Professionel_points</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="number"  formControlName="professionelPoints" id="professionelPoints" class="form-control mb-4" />
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td class="ui-panelgrid-cell">
                    <label class="ui-outputlabel ui-widget" for="resetpasswordtoken">Resetpasswordtoken</label>
                </td>
                <td class="ui-panelgrid-cell">
                    <input type="text"  formControlName="resetpasswordtoken" id="resetpasswordtoken" />
                </td>
            </tr>
        </tbody>
        <tfoot class="ui-panelgrid-footer">
            <tr class="ui-widget-header">
                <th colspan="4">
                    <div *ngIf="!editUser">
                        <button (click)="createUser(formGroup)">create</button>
                    </div>
                    <div *ngIf="editUser">
                        <button (click)="updateUser(formGroup)">save</button>
                        <button (click)="deleteUser(formGroup)">delete</button>
                        <button (click)="cancelEdit()">cancel</button>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</form>

 


<table id="table_id" class="table table-striped table-hover">
    <thead class="ui-panelgrid-header">
        <tr class="ui-widget-header">
        <th scope="#">id</th>
        <th scope="#">name</th>
        <th scope="#">lastname</th>
        <th scope="#">username</th>
        <th scope="#">password</th>
        <th scope="#">email</th>
        <th scope="#">Dob</th>
        <th scope="#">PhotoProfile</th>
        <th scope="#">Headline</th>
        <th scope="#">current_position</th>
        <th scope="#">education</th>
        <th scope="#">location</th>
        <th scope="#">contact_info</th>
        <th scope="#">experience</th>
        <th scope="#">points</th>
        <th scope="#">cultural_points</th>
        <th scope="#">sport_points</th>
        <th scope="#">art_points</th>
        <th scope="#">professionel_points</th>
        <th scope="#">resetPasswordToken</th>
        </tr>
    </thead>
    <tr *ngFor="let user of users; let i = index" (click)="onRowSelect(i, user)" [class.active]="i == selectedRow">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dob}}</td>
                <td>{{user.photoprofile}}</td>
                <td>{{user.headline}}</td>
                <td>{{user.currentPosition}}</td>
                <td>{{user.education}}</td>
                <td>{{user.location}}</td>
                <td>{{user.contactInfo}}</td>
                <td>{{user.experience}}</td>
                <td>{{user.points}}</td>
                <td>{{user.culturalPoints}}</td>
                <td>{{user.sportPoints}}</td>
                <td>{{user.artPoints}}</td>
                <td>{{user.professionelPoints}}</td>
                <td>{{user.resetpasswordtoken}}</td>
    </tr>
</table>
