<!-- <h1>{{ title }}</h1>


<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->


  
  
  
 
  
   
  
  
    <!-- Terminal -->
    <mat-card style="margin-top: 50px;">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
  
        <div fxLayout="row wrap"  class="col-gap">
          <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
          </div>
          <div fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <!-- Mapa -->
            <agm-map 
            [latitude]="latitude" 
            [longitude]="longitude" 
            [zoom]="zoom" >
              <agm-marker 
              [latitude]="latitude" 
              [longitude]="longitude"></agm-marker>
            </agm-map>
            <!-- Final Mapa -->
          </div>
        </div>
  
      </div>
    </mat-card>
    
  
  
   
  
  